@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap%27');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.regist{
    height: 120vh;
}

.line1 {
    margin-left: 33.61344537815126vh;
    margin-top: 22.408963585434172vh;
    width: 70%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    opacity: 0.1;
}

.text1 {
    position: absolute;
    margin-top: 8%;
    margin-left: 16%;
    height: 7%;
    width: 50%;
    font-size: 1.6vw;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
}

.text2 {
    position: absolute;
    margin-top: 13%;
    margin-left: 16%;
    height: 7%;
    width: 50%;
    font-size: 1vw;
    font-family: 'Nunito Sans', sans-serif;
}

.email {
    position: absolute;
    margin-top: 16%;
    margin-left: 16%;
    height: 7%;
    width: 50%;
    font-size: 1.2vw;
    border: solid 1px rgb(169, 169, 169);
    font-family: 'Nunito Sans', sans-serif;
}

.name {
    position: absolute;
    margin-top: 22%;
    margin-left: 16%;
    height: 7%;
    width: 50%;
    font-size: 1.2vw;
    border: solid 1px rgb(169, 169, 169);
    font-family: 'Nunito Sans', sans-serif;
}

.password {
    position: absolute;
    margin-top: 28%;
    margin-left: 16%;
    height: 7%;
    width: 50%;
    font-size: 1.2vw;
    border: solid 1px rgb(169, 169, 169);
    font-family: 'Nunito Sans', sans-serif;
}

.gender {
    position: absolute;
    margin-top: 35%;
    margin-left: 16%;
    font-size: 1.2vw;
}

.radio1 {
    position: absolute;
    margin-top: 35.2%;
    margin-left: 24%;
    font-size: 2.130252100840336vh;
}

.radio2 {
    position: absolute;
    margin-top: 35.2%;
    margin-left: 29%;
    font-size: 1vw;
}

.agreetext {
    position: absolute;
    margin-top: 40.3%;
    margin-left: 19%;
    font-size: 1.2vw;
    font-family: 'Nunito Sans', sans-serif;
}

.agree {
    position: absolute;
    margin-top: 40%;
    margin-left: 11%;
    height: 4%;
    width: 12%;
    font-size: 1.5vw;
    font-family: 'Nunito Sans', sans-serif;
}

button {
    /* background-color: aquamarine; */
    position: absolute;
    margin-top: 47%;
    margin-left: 16%;
    height: 6%;
    width: 15%;
    font-size: 1.3vw;
    background-color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
}

.end {
    /* height: 100px; */
    width: 100%;
    position: absolute;
}

button:hover {
    background-color: rgb(160, 160, 160);
}

button:active {
    background-color: rgb(53, 53, 53);
}